html, body {
    height: 100%;
    margin: 0;
    padding: 50px;
  }
  
/*Landing_HTML styles*/
.landing-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 150px;
    height: 80vh;
    transition: background-color 2s ease;
}
.landing-section {
    margin-top: 5px;
}
@keyframes flip-animation {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
.flip-animation {
    animation-name: flip-animation;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
.logo-banner {
    width: 175px;
    height: 175px;
    margin-bottom: 10px;
}
.game-title {
    color: #fff;
    font-size:64px;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px 4px rgba(o, o, o, o.8); 
    text-align: center;
}
.top-banner {
    color: #fff;
    font: size 30px;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px 4px rgba(o, o, o, o.8); 
    text-align: center;
}
.top-banner h1 {
    font-size: 62;
}

h6 {
    color: white;

}
.start-button {
    color:#fff;
    background-color: #008080;
    padding:20px 80px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
#startButton:hover {
    background-color: #00b2b2;
}
#startButton:active {
    background-color: #006767;
}

/*Game_HTML styles*/

:root {
    --color-lightest: #A9A9A9; /* darkgray */
    --color-light: #808080; /* gray */
    --color-mid-light: #696969; /* dimgray */
    --color-mid: #778899; /* lightslategray */
    --color-mid-dark: #708090; /* slategray */
    --color-dark: #2F4F4F; /* darkslategray */
}

.banner {
    height: 5vh;
    background-color: var(--color-mid-dark);
}
.game-updates {
    display: flex;
    justify-content: space-around;
    padding:10px;
    font-size: 50px;
    border-top: 10px solid #006767;
}
.score {
    color:#fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-family: 'Anton';
}   
.timer {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.tiles-container {
    margin: 30px auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 8px;
    box-sizing: border-box;
    border: 8px solid #006767;
    border-radius: 10px;
    padding: 10px;
}
.tile {
 height: 200px;
 width: 200px;
 border: 5px solid #fff;
 border-radius: 10px;
 cursor: pointer;
}
.player-prompt {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 50px;
    font-weight: bold;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.start-game-button,
.reset-button {
    color: #fff;
    background-color: #008080;
    padding: 20px 30px;
    font-size: 24px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 5px auto;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.start-game-button:hover {
    background-color: #00b2b2;
}

.start-game-button:active {
    background-color: #006767;
}
.reset-button:hover {
    background-color: #00b2b2;
}
.reset-button:active {
    background-color: #006767;
}
#player1-score,
#player2-score {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#player1-score{
    color: #fff;
    background-color: #008080;
    margin-bottom: 20px;
}
#player2-score{
  color: #fff;
  background-color: #008080;
  margin-bottom: 20px;
}
.matched {
    pointer-events: none;
    opacity: 0.8;
}

/*Media Query*/
@media screen and (max-width: 768px) {
    .tiles-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 4px;
        margin: 0 auto; 
        width: 100%;
        max-width: calc(80px * 3 + 4px * 2);   
        padding: 5px;  
    }

    .tile {
        height: 50px;
        width: 50px;
        font-size: 10px;
        margin: 2px;
        padding: 3px;
    }

    .game-title, .top-banner h1 {
        font-size: 32px;
    }

    .game-updates {
        font-size: 24px;
    }

    body {
        padding: 10px;
    }

    .score, .timer {
        font-size: 14px;
        padding: 2px 4px;
    }

    .start-game-button, .reset-button {
        padding: 8px 15px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .player-prompt {
        font-size: 24px;
    }

    .landing-screen {
        margin-bottom: 50px;
    }

    .button-container {
        margin-top: 10px;
    }
    .tiles-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 4px;
        width: calc(80px * 3 + 4px * 2); 
        margin: 0 auto; 
        padding-right: 150px;
    }
}
