
/*Landing_HTML styles*/
.landing-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 150px;
    height: 80vh;
    transition: background-color 2s ease;
}
.landing-section {
    margin-top: 5px;
}
@keyframes flip-animation {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
.flip-animation {
    animation-name: flip-animation;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
.logo-banner {
    width: 175px;
    height: 175px;
    margin-bottom: 10px;
}
.game-title {
    color: #fff;
    font-size:64px;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px 4px rgba(o, o, o, o.8); 
    text-align: center;
}
.top-banner {
    color: #fff;
    font: size 30px;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px 4px rgba(o, o, o, o.8); 
    text-align: center;
}
h6 {
    color: white;

}
.start-button {
    color:#fff;
    background-color: #008080;
    padding:20px 80px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
#startButton:hover {
    background-color: #00b2b2;
}
#startButton:active {
    background-color: #006767;
}

/*Game_HTML styles*/

:root {
    --color-lightest: #A9A9A9; /* darkgray */
    --color-light: #808080; /* gray */
    --color-mid-light: #696969; /* dimgray */
    --color-mid: #778899; /* lightslategray */
    --color-mid-dark: #708090; /* slategray */
    --color-dark: #2F4F4F; /* darkslategray */
}

.game-board {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: var(--color-lightest);

}
.banner {
    height: 5vh;
    background-color: var(--color-mid-dark);
}
.game-updates {
    display: flex;
    justify-content: space-between;
    padding:10px;
    font-size: 24px;
}
.score {
    color:#fff;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}   
.timer {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}
.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    background-color:hsla(0, 0%, 75%, 0.5);
    border: 4px solid #006767;
}
.tiles-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    margin: 20px;
}
.tile {
 width: 100px;
 height: 100px;
 border-radius: 10px;
 cursor: pointer;
 background-color: blue;
}
.player-prompt {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 24px;
    font-weight: bold;
}
.start-game-button {
    color: #fff;
    background-color: #008080;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: auto;
}
.reset-button {
    color: #fff;
    background-color: #008080;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
}
.start-game-button:hover {
    background-color: #00b2b2;
}

.start-game-button:active {
    background-color: #006767;
}
.reset-button {
    color: #fff;
    background-color: #008080;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
}
.reset-button:hover {
    background-color: #00b2b2;
}

.reset-button:active {
    background-color: #006767;
}
