/* Base styles for the entire document */
html, body {
    height: 100%; /* Ensure the full height for proper flex behavior */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack children elements vertically */
}

body {
    justify-content: center; /* Center content vertically in the viewport */
    align-items: center; /* Center content horizontally in the viewport */
    background-color: var(--color-dark); /* Use variable for background color */
    flex: 1; /* Allows the body to expand and fill available space */
}

footer {
    width: 100%;
    background-color: #0f1d1b; /* Consistent dark background */
    font-weight: bolder;
    font-size: larger;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 1000;
}

/* Ensure no global padding or margins are interfering */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clicked {
    pointer-events: none;
}
  
/*Landing_HTML styles*/
.landing-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 80vh;
    transition: background-color 2s ease;
}
.landing-section {
    margin-top: 5px;
}
@keyframes flip-animation {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
.flip-animation {
    animation-name: flip-animation;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
.logo-banner {
    width: 175px;
    height: 175px;
    margin-bottom: 10px;
}
.game-title {
    color: #fff;
    font-size:48px;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px 4px rgba(o, o, o, o.8); 
    text-align: center;
}
h6 {
    color: white;

}
.start-buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.start-buttonContainer button {
    color:#fff;
    background-color: #008080;
    padding:20px 80px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
}
.start-buttonContainer button:hover {
    background-color: #00b2b2;
}
.start-buttonConatiner:active {
    background-color: #006767;
}


/*Game_HTML styles*/

:root {
    --color-lightest: #A9A9A9; /* darkgray */
    --color-light: #808080; /* gray */
    --color-mid-light: #696969; /* dimgray */
    --color-mid: #778899; /* lightslategray */
    --color-mid-dark: #708090; /* slategray */
    --color-dark: #2F4F4F; /* darkslategray */
}
.game-updates {
    margin-bottom: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-weight: bold;
    border-radius: 25px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #008080;
    padding: 10px 15px;
} 
/* .player-score, .score-value {
    color:#fff;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    display: block;
    text-align: center;
    cursor: pointer;
    font-family: 'Anton';
    background-color: rgba(0, 0, 0, 0.1);  
} 
.score-value, .player-score {
    font-size: 45px
}  
.timer {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
} */
.tiles-container {
    margin: 30px auto;
    width: 90vw; /* Adjust width to fit within the viewport */
    max-width: 1000px; /* Optional: set a max width */
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust to fit 5 tiles per row */
    gap: 10px;
    box-sizing: border-box;
    border: 8px solid #006767;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.tile {
 height: calc(90vw / 5 - 10px); /* Adjust height to fit within the viewport */
 width: calc(90vw / 5 - 10px); /* Adjust width to fit within the viewport */
 max-height: 160px; /* Optional: set a max height */
 max-width: 160px; /* Optional: set a max width */
 border: 5px solid #fff;
 border-radius: 20%;
 cursor: pointer;
}
.player-prompt {
    display: flex;
    margin-bottom: 20px;
    color: #fff;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    border-radius: 25px; 
    box-sizing: content-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #008080;
    margin-top: 20px;  
}
.button-container {
    display: flex;
    justify-content: center; /* This centers the buttons horizontally */
    align-items: center; /* This centers the buttons vertically, if needed */
    flex-wrap: wrap; /* Allows buttons to wrap on smaller screens */
    margin-bottom: 100px; /* Adjust as per your design */
}


/* Apply the same styles to both the start and reset buttons */
.reset-button, .start-game-button {
    color: #fff;
    background-color: #008080;
    padding: 30px 50px;
    font-size: 28px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin-bottom: 90px;
    display: inline-block; /* Change from block to inline-block */
    margin-right: 20px; /* Add some spacing between the buttons */
}

.reset-button:hover, .start-game-button:hover {
    background-color: #00b2b2;
}

.reset-button:active, .start-game-button:active {
    background-color: #006767;
}

#player1-score,
#player2-score {
    font-size: 22px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #fff;
    background-color: #008080;
    margin-bottom: 10px;
}
.unmatched {
    border-color: black;
    border: 4px;
}
.matched {
    pointer-events: none;
    opacity: 0.8;
}
.player-prompt, .game-updates, .player-score, .score-value {
    max-width: 75%; 
    margin-left: auto;
    margin-right: auto;
}

/*Media Query*/
@media screen and (max-width: 768px) {
    .tiles-container {
        grid-template-columns: repeat(4, 1fr); /* Adjust to fit 4 tiles per row */
        gap: 5px; /* Reduce the gap between tiles */
        width: 95vw; /* Adjust width to fit within the viewport */
        margin: 0 auto; /* Center the container */
    }
    .tile {
        height: calc(95vw / 4 - 5px); /* Adjust height to fit within the viewport */
        width: calc(95vw / 4 - 5px); /* Adjust width to fit within the viewport */
        max-height: 100px; /* Optional: set a max height */
        max-width: 100px; /* Optional: set a max width */
    }
    .game-updates {
        padding: 5px 10px; /* Adjust padding */
    }
    .score, .timer {
        font-size: 12px;
        padding: 1px 3px;
        white-space: nowrap;
    }
    .reset-button {
        padding: 15px 25px; /* Adjust padding */
        font-size: 18px; /* Adjust font size */
        margin-bottom: 10px;
    }
    .player-prompt {
        display: flex;
        font-size: 20px; /* Adjust font size */
        font-weight: bold;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        text-align: center;
        justify-content: center;
    }
    .landing-screen {
        margin-bottom: 30px;
    }

    .player-score, .score-value {
        font-size: 20px;
        padding: 5px 10px;
    }


}
@media screen and (min-width: 1280px) and (max-width: 1440px) and (min-height: 800px) and (max-height: 900px) {
    .landing-screen, .tiles-container, .game-updates, .player-prompt {
        max-width: 1280px; 
        margin-left: auto;
        margin-right: auto;
    }
    .tiles-container {
        grid-template-columns: repeat(5, 1fr); 
        gap: 10px;
        width: 95vw; /* Slightly increase the width */
        max-width: 1100px; /* Slightly increase the max width */
        margin: 0 auto;
    }
    .tile {
        height: calc(95vw / 5 - 10px); /* Slightly increase the height */
        width: calc(95vw / 5 - 10px); /* Slightly increase the width */
        max-height: 180px; /* Slightly increase the max height */
        max-width: 180px; /* Slightly increase the max width */
    }
    .game-updates {
        padding: 10px 15px; 
    }
    .player-prompt {
        font-size: 30px; 
    }
    .reset-button {
        padding: 30px 50px;
        font-size: 28px;
    }
    #player1-score, #player2-score {
        font-size: 22px; 
        padding: 8px 15px;

    }
}

/* Media Query for Tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .tiles-container {
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        width: 95vw;
        max-width: 1100px;
        margin: 0 auto;
    }
    .tile {
        height: calc(95vw / 5 - 10px);
        width: calc(95vw / 5 - 10px);
        max-height: 180px;
        max-width: 180px;
    }
    .game-updates {
        padding: 10px 15px;
    }
    .player-prompt {
        font-size: 30px;
    }
    .reset-button {
        padding: 30px 50px;
        font-size: 28px;
    }
    #player1-score, #player2-score {
        font-size: 22px;
        padding: 8px 15px;
    }
}
